<ion-app>

  <ion-card>
    <ion-img src="assets/money_logo.png">
    </ion-img>
    <p class="ion-font-size-x ion-text-center" style="font-size:30px">Login

    </p>
    <hr style="color:aquamarine">
  </ion-card>
<br>

<ion-content>
  <div class="ion-" *ngIf="fakeAuth">
    <strong>Alert!</strong> Login ou mot de passe incorrecte!!!!
  </div>
  <ion-grid>
      <form [formGroup]="formLogin" (submit)="onSubmit()">
      <ion-row>
        <ion-col size-sm="6" size-md="4" offset-sm="3">
          <ion-item>
            <ion-label style="font-size:20px" position="floating">Username</ion-label>
            <ion-input  type="text" [(ngModel)]="email" required formControlName="email" ></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Email is required.
    </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Please provide valid email id.
    </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" size-md="4" offset-sm="3">
          <ion-item>
            <ion-label style="font-size:20px" position="floating">Password</ion-label>
            <ion-input  type="password" [(ngModel)]="password" required formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" size-md="4" offset-sm="3">

           <p class="ion-text-center " style="color:aquamarine">Mot de passe oublier?</p>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" size-md="4" offset-sm="3">
      <ion-button side="end" shape="round" type="submit"  class="ion-margin-button ion-margin-top"  expand="block">Login</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
</ion-app>
