ion-card{
    background-color: rgb(248, 248, 248);
    border-radius: 7%;
}
ion-img{
    width: 50%;
    margin-left: 80px;
}
ion-content{
    background-color:azure
}
hr{
    border-bottom: 5px solid rgb(104, 200, 238);
    width:100px;
}
ion-label{
    font-size: 140px;
}