<ion-header>
  <ion-grid class="grid">
 <ion-row>
   <ion-col  size-sm="4" size-md="4" offset-sm="2">

    <ion-icon [routerLink]="['/home']" name="home" style = "color:rgb(245, 109, 59); margin-top:40px">
    </ion-icon>
    </ion-col>
   <ion-col size-sm="4" size-md="4" offset-sm="2">
     <img class="monay" src="assets/min_logo.jpeg">
   </ion-col>
   <ion-col size-sm="4" size-md="4" offset-sm="2">
   </ion-col>
  </ion-row>
 <ion-row>

  <ion-col class="ion-text-center" size-sm="4" size-md="4">
    <ion-icon class="ion-center" name="return-up-forward-outline" style = "color:rgb(245, 109, 59)"></ion-icon>
    Calculateur
   </ion-col>
 </ion-row>
  </ion-grid>
 </ion-header>

<ion-content>
  <form [formGroup]="forms">
    <p class="ion-align-items-center"></p>
    <ion-card class="">
  <ion-row  class="ion-no-border">
    <ion-col class="ion-text-center" size-sm="4" size-md="2">
      <ion-title size="large">Entre la somme  à calculer</ion-title>
      <ion-item class="ion-padding-bottom" >
        <ion-input  type="number"  required  formControlName="montant"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
    </ion-card>
  <ion-row >

  </ion-row>
  <ion-button type="submit" slot="bottom" shape="round" expand="block" (click)="calculator()">Calculer</ion-button>
</form>
</ion-content>
<script>
  const button = document.querySelector('ion-button');
  button.addEventListener('click', handleButtonClick);

  async function handleButtonClick() {
    const alert = await alertController.create({
      header: 'Use this lightsaber?',
      message: 'Do you agree to use this lightsaber to do good across the galaxy?',
      buttons: ['Disagree', 'Agree']
    });

    await alert.present();
  }
</script>
