:root {
    --ion-color-orange: #ee7417;
    --ion-color-orange-rgb: 238,116,23;
    --ion-color-orange-contrast: #000000;
    --ion-color-orange-contrast-rgb: 0,0,0;
    --ion-color-orange-shade: #d16614;
    --ion-color-orange-tint: #f0822e;
  }
  
  .ion-color-orange {
    --ion-color-base: var(--ion-color-orange);
    --ion-color-base-rgb: var(--ion-color-orange-rgb);
    --ion-color-contrast: var(--ion-color-orange-contrast);
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
    --ion-color-shade: var(--ion-color-orange-shade);
    --ion-color-tint: var(--ion-color-orange-tint);
  }
  .ion-button{
    --ion-color-orange: #ee7417;
    --ion-color-orange-rgb: 238,116,23;
    --ion-color-orange-contrast: #000000;
    --ion-color-orange-contrast-rgb: 0,0,0;
    --ion-color-orange-shade: #d16614;
    --ion-color-orange-tint: #f0822e;
  }
  