<ion-header>
  <ion-grid class="grid">
 <ion-row>
   <ion-col  size-sm="4" size-md="4" offset-sm="2">

    <ion-icon [routerLink]="['/home']" name="home" style = "color:rgb(245, 109, 59); margin-top:40px">
    </ion-icon>
    </ion-col>
   <ion-col size-sm="4" size-md="4" offset-sm="2">
     <img class="monay" src="assets/min_logo.jpeg">
   </ion-col>
   <ion-col size-sm="4" size-md="4" offset-sm="2">
   </ion-col>
  </ion-row>
 <ion-row>

  <ion-col class="ion-text-center" size-sm="4" size-md="4">
    <ion-icon class="ion-center" name="return-up-forward-outline" style = "color:rgb(245, 109, 59)"></ion-icon>
    Dépot
   </ion-col>
 </ion-row>
  </ion-grid>
 </ion-header>

<ion-content>
  <div *ngIf="activeCode">
  <form [formGroup]="recherge">
    <h3 class="ion-text-center">Code de Transaction </h3>
    <br>
    <p style="color:red; font-size:16px">{{errorMessage}}</p>
    <br>
    <ion-row >
    <ion-col  size-sm="4" size-md="2" offset-sm="2">
      <ion-item >
        <ion-input type="number"  placeholder="Entre la code transaction" formControlName="code" ></ion-input>
        </ion-item>
    </ion-col>
  </ion-row >
    <ion-row >
      <ion-col  size-sm="4" size-md="2" offset-sm="2">

          <ion-button [disabled]="recherge.invalid" shape="round" type="submit" expand="block" class="ion-justify-content ion-justify-top:0px"side="start" (click)="recherger()" > Rechercher</ion-button>

      </ion-col>
    </ion-row >
  </form>
  </div>
  <div *ngIf="activeFormulaires">
  <ion-card>
    <ion-row >
      <ion-col  size-sm="">
        <ion-segment ios (ionChange)="segmentChanged($event)">
          <ion-segment-button class="ion-color-light" value="emeteur">
            <ion-label>Emeteur</ion-label>
          </ion-segment-button>
          <ion-segment-button class="ion-color-light" value="beneficher">
            <ion-label>Bénéficher</ion-label>
          </ion-segment-button>

        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-card>
  <form [formGroup]="formTerminer" >
    <div *ngIf="activeBeneficier">
      <ion-row >
        <ion-col  size-sm="4" size-md="2" offset-sm="2">
          <ion-item >
            <ion-label position="floating">N° CNI</ion-label>
            <ion-input type="text" formControlName="cni"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row >
    <ion-row >
      <ion-col  size-sm="4" size-md="2" offset-sm="2">
        <ion-item >
          <ion-label position="floating">NOM COMPLET</ion-label>
          <ion-input type="text" slot="end" required  value="{{client_recu?.nomComplet}}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col  size-sm="">
        <ion-item >
          <ion-label position="floating">TELEPHONE</ion-label>
          <ion-input type="text"  slot="end" value="{{client_recu?.phone}}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


   <ion-row >
    <ion-col  size-sm="4" size-md="2" offset-sm="2">

        <ion-button color="secondary" expand="block" shape="round" class="ion-justify-content " type="submit" (click)="onSubmit()" >Terminer</ion-button>

    </ion-col>
  </ion-row>
      <ion-row  class="ion-margin-top">
    <ion-col  size-sm="4" size-md="2" offset-sm="2">

        <ion-button expand="block" color="danger"  shape="round"  class="ion-justify-content " type="submit" (click)="annulre()" >Annulation</ion-button>

    </ion-col>
  </ion-row>
</div>
<div >
  <div *ngIf="activeEmeteur"  >

    <ion-row >
      <ion-col  size-sm="4" size-md="2" offset-sm="2">
        <ion-item >
          <ion-label position="floating">N° CNI</ion-label>
          <ion-input type="text" slot="end" value="{{clientEnvoie?.cni}}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row >

      <ion-row >
        <ion-col  size-sm="4" size-md="2" offset-sm="2">
          <ion-item >
            <ion-label position="floating">NOM COMPLET</ion-label>
            <ion-input type="text" slot="end" required value="{{clientEnvoie?.nomComplet}}" ></ion-input>
            <!-- <ion-small *ngIf="nomComplet.invalid && (nomComplet.dirty || nomComplet.touched)">Input invalid</ion-small> -->

          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col  size-sm="">
          <ion-item >
            <ion-label position="floating">TELEPHONE</ion-label>
            <ion-input type="text" slot="end" value="{{clientEnvoie?.phone}}" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


    <ion-row >
      <ion-col  size-sm="">
        <ion-item >
          <ion-label position="floating">Montant</ion-label>
          <ion-input type="text" slot="end" value="{{transaction?.montant}}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col  size-sm="4" size-md="2" offset-sm="2">

          <ion-button expand="block"  shape="round" class="ion-justify-content-end" type="submit" (click)="suivant()">Suivant</ion-button>

      </ion-col>
    </ion-row>
  </div>
</div>

  </form>
  </div>
</ion-content>
