.ion-img{
    border-radius: 50%;
}
ion-header{
  background-color: whitesmoke;
  border-radius: 10px;
}
ion-grid{
    .user{
      height: 70px;
      border-radius: 50%;
      width: 75px;
    }
    .monay{
      height: 70px;
      border-radius: 50%;
      width: 80px;
    }
   
}
.grid{
 
}
.card{
  position:center;
  height: 100px;
  border-radius: 20px;
  border-bottom: 5px solid rgb(126, 209, 198);

}