<ion-header   >

 <ion-grid class="ion-margin-top">
<ion-row>
  <ion-col  class="hamburger haut" size-sm="4" size-md="2" offset-sm="2">

<!--        <ion-menu-button menu="main-menu"></ion-menu-button>-->
        <ion-menu-button ></ion-menu-button>
  </ion-col>
  <ion-col size-sm="4" size-md="2" offset-sm="2">
    <img class="monay" src="assets/min_logo.jpeg">
 </ion-col>
 <ion-col size-sm="4" size-md="2" offset-sm="2">
  <img class="user" [routerLink]="['/paramettere',idUserConnected]" side="start" src="data:image/jpeg;base64,{{imageUser}}">
</ion-col>
</ion-row>
 </ion-grid>
 <ion-card class="card">
 <ion-grid >
  <ion-row>
    <ion-col  size-sm="4" size-md="2" offset-sm="2">
      Mon solde disponible
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="font-size: x-large;" size-sm="4" size-md="4" offset-sm="2">
      <span>{{solde}}</span>      frca
   </ion-col>
  </ion-row>
 <ion-row>
   <ion-col  size-sm="4" size-md="4" offset-sm="2">
    16/12/1995
  </ion-col>
  </ion-row>
   </ion-grid>
  </ion-card>
</ion-header>

<ion-content class="ion-margin-top" >
        <ion-list>

                <ion-item [routerLink]="['/depot']">
                  <ion-icon class="orange" name="return-up-forward-outline" style = "color:rgb(245, 109, 59)"></ion-icon>
                  <ion-label >Dépot  </ion-label >
                  <ion-icon  name="chevron-forward-outline" style = "color:rgb(245, 109, 59)"></ion-icon>
                </ion-item>


                <ion-item [routerLink]="['/retrait']">
                  <ion-icon  name="return-up-back-outline" style = "color:rgb(245, 109, 59)"></ion-icon>

                 <ion-label >Retrait </ion-label >
                  <ion-icon  name="chevron-forward-outline" style = "color:rgb(245, 109, 59)"></ion-icon>

                </ion-item>

          <ion-row>
            <ion-col  size-sm="4" size-md="4" offset-sm="2">
              <ion-menu-toggle auto-hide="false">
                <ion-item  [routerLink]="['/mes-transaction']">
<!--                  <ion-icon> name="repeat-outline" style ="color:rgb(245, 109, 59)"></ion-icon>-->
                  <ion-icon  name="repeat-outline" style = "color:rgb(245, 109, 59)"></ion-icon>

                  <ion-label > Mes transactions </ion-label >
                  <ion-icon  name="chevron-forward-outline" style = "color:rgb(245, 109, 59)"></ion-icon>

                </ion-item>
              </ion-menu-toggle>
            </ion-col>
          </ion-row>

        <ion-row>
            <ion-col  size-sm="4" size-md="4" offset-sm="2">
              <ion-menu-toggle auto-hide="false">
                <ion-item [routerLink]="['/tabs/frais']" >
                  <ion-icon name="calculator-outline" style = "color:rgb(245, 109, 59)"></ion-icon>
                  <ion-label > Calculateur de rfais </ion-label >
                  <ion-icon  name="chevron-forward-outline" style = "color:rgb(245, 109, 59)"></ion-icon>

                </ion-item>
              </ion-menu-toggle>
            </ion-col>

          </ion-row>
          <br>
          <br>
          <ion-row>

          <ion-col  size-sm="4" size-md="4" offset-sm="2">
              <ion-menu-toggle auto-hide="false">
                <ion-item button>

                  <ion-icon name="power-outline" slot="start" style = "color:rgb(245, 109, 59)"></ion-icon>
                  <ion-label  (click)="logout()">Déconnection</ion-label>
                  </ion-item>
              </ion-menu-toggle>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-content>
